.parent{
    height: 2000px;
    width: 2000px;
    margin: 120px;
    background-color: blueviolet;
    font-size: 5rem;
     position: relative; 
   
}
.parent>*{
    width: 150px;
    height: 150px;
    font-size: .9rem;

}

.child1{
    background-color: aqua;
    position: absolute;
    /* z-index: -1; */
      left: 70px;
    top:300px;  
}
.child2{
    background-color: darkgreen;
}
.child3{
    background-color: goldenrod;
}
